@model Intranet.Models.EventoModel

<h2>Excluir Evento</h2>

<p>Tem certeza que deseja excluir o evento <strong>@Model.Titulo</strong>?</p>

<form asp-action="Deletar" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>
