
<form method="post" action="/Contato/Adicionar">
    <label>Nome:</label>
    <input type="text" name="Nome" required />

    <label>Email:</label>
    <input type="email" name="Email" required />

    <label>Telefone:</label>
    <input type="text" name="Telefone" />

    <label>Celular:</label>
    <input type="text" name="Celular" required />

    <label>Data de Nascimento:</label>
    <input type="date" name="DataNascimento" required />

    <label>Divisão:</label>
    <input type="text" name="Divisao" required />

    <button type="submit">Salvar</button>
</form>



@* <div id="modalAdicionar" class="modal"> *@
@*     <div class="modal-content"> *@
@*         <span class="close" onclick="fecharModalAdicionar()">&times;</span> *@
@*         <h2>Adicionar Novo Contato</h2> *@

@*         <label for="addDivisao">Divisão:</label> *@
@*         <input type="text" id="addDivisao"> *@

@*         <label for="addNome">Nome:</label> *@
@*         <input type="text" id="addNome"> *@

@*         <label for="addEmail">Email:</label> *@
@*         <input type="email" id="addEmail"> *@

@*         <label for="addTelefone">Telefone:</label> *@
@*         <input type="text" id="addTelefone"> *@

@*         <label for="addAniversario">Aniversário:</label> *@
@*         <input type="date" id="addAniversario"> *@

@*         <label for="addCelular">Celular:</label> *@
@*         <input type="text" id="addCelular"> *@

@*         <button onclick="salvarContato()">Adicionar</button> *@
@*     </div> *@
@* </div> *@
